body {
    background-color: rgb(0, 217, 255);
    text-align: left;
    font-family: sans-serif;
}
#nombre {
    font-size: 65px;
    color: aliceblue;
    text-align: center;
}
img {
    justify-content: center;
    border-color: black;
    border-radius: 10%;
}
